In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets 
# Import the API key.
from config import g_map
import matplotlib.pyplot as plt

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mount Isa,AU,2021-09-29 12:04:19,-20.7333,139.5000,78.57,44,40,4.61
1,1,Xining,CN,2021-09-29 12:04:19,36.6167,101.7667,59.83,40,21,1.72
2,2,Tiksi,RU,2021-09-29 12:04:19,71.6872,128.8694,32.38,80,100,5.19
3,3,Busselton,AU,2021-09-29 12:04:20,-33.6500,115.3333,61.09,89,0,8.30
4,4,Pokhara,NP,2021-09-29 12:04:20,28.2333,83.9833,72.79,92,79,1.48

In [3]:
city_data_df.count()

City_ID       571
City          571
Country       568
Date          571
Lat           571
Lng           571
Max Temp      571
Humidity      571
Cloudiness    571
Wind Speed    571
dtype: int64

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_map)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# changing heat layer
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity.
max_humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the cloudiness.
clouds = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of windspeed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the windspeed.
wind_speed = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mount Isa,AU,2021-09-29 12:04:19,-20.7333,139.5000,78.57,44,40,4.61
4,4,Pokhara,NP,2021-09-29 12:04:20,28.2333,83.9833,72.79,92,79,1.48
8,8,Butaritari,KI,2021-09-29 12:04:21,3.0707,172.7902,83.07,75,98,15.17
10,10,Shingu,JP,2021-09-29 12:04:22,33.7333,135.9833,73.04,89,82,6.67
11,11,Coromandel,BR,2021-09-29 12:04:22,-18.4733,-47.2003,81.77,36,45,9.06
12,12,Hilo,US,2021-09-29 12:03:34,19.7297,-155.0900,70.79,90,20,6.91
15,15,Moyale,KE,2021-09-29 12:04:23,3.5167,39.0584,86.27,32,72,14.03
17,17,Rikitea,PF,2021-09-29 12:04:24,-23.1203,-134.9692,72.68,69,64,14.90
22,22,Georgetown,MY,2021-09-29 12:00:17,5.4112,100.3354,82.33,92,20,1.01
23,23,Cabo San Lucas,MX,2021-09-29 12:04:13,22.8909,-109.9124,79.52,76,1,11.50

In [16]:
preferred_cities_df.count()

City_ID       229
City          229
Country       228
Date          229
Lat           229
Lng           229
Max Temp      229
Humidity      229
Cloudiness    229
Wind Speed    229
dtype: int64

In [17]:
preferred_cities_df_clean = preferred_cities_df.dropna()

In [18]:
preferred_cities_df_clean.count()

City_ID       228
City          228
Country       228
Date          228
Lat           228
Lng           228
Max Temp      228
Humidity      228
Cloudiness    228
Wind Speed    228
dtype: int64

In [19]:
hotel_df = preferred_cities_df_clean[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0        Mount Isa      AU     78.57 -20.7333  139.5000
4          Pokhara      NP     72.79  28.2333   83.9833
8       Butaritari      KI     83.07   3.0707  172.7902
10          Shingu      JP     73.04  33.7333  135.9833
11      Coromandel      BR     81.77 -18.4733  -47.2003
12            Hilo      US     70.79  19.7297 -155.0900
15          Moyale      KE     86.27   3.5167   39.0584
17         Rikitea      PF     72.68 -23.1203 -134.9692
22      Georgetown      MY     82.33   5.4112  100.3354
23  Cabo San Lucas      MX     79.52  22.8909 -109.9124

In [20]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_map
}

In [24]:
# Iterate throught the DataFrame
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add lat and lng to location key for the parameters dictionary
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    
    # grab the first hotel from the results and store the name
    try:        
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel Not Found....skipping.")

Hotel Not Found....skipping.
Hotel Not Found....skipping.
Hotel Not Found....skipping.
Hotel Not Found....skipping.
Hotel Not Found....skipping.
Hotel Not Found....skipping.
Hotel Not Found....skipping.
Hotel Not Found....skipping.
Hotel Not Found....skipping.
Hotel Not Found....skipping.
Hotel Not Found....skipping.
Hotel Not Found....skipping.
Hotel Not Found....skipping.

In [25]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Mount Isa,AU,78.57,-20.7333,139.5000,ibis Styles Mt Isa Verona
4,Pokhara,NP,72.79,28.2333,83.9833,Butterfly Lodge
8,Butaritari,KI,83.07,3.0707,172.7902,Isles Sunset Lodge
10,Shingu,JP,73.04,33.7333,135.9833,Shingu UI Hotel
11,Coromandel,BR,81.77,-18.4733,-47.2003,Hotel Dona Adélia
...,...,...,...,...,...,...
555,Sibu,MY,77.16,2.3000,111.8167,RH HOTEL (4 Star)
560,Kalmunai,LK,83.89,7.4167,81.8167,VS Villa
565,Kalianget,ID,83.16,-7.0500,113.9333,Pesanggrahan Garam
567,Camopi,GF,77.83,3.1655,-52.3158,La pousada
570,Ilhabela,BR,74.25,-23.7781,-45.3581,Ilha Flat Hotel

In [27]:
# 6.5.4
# Create a max temp heatmap from hotel DataFrame
# Add a heatmap of temp for the vacation spots
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Copied with adding markers
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [31]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))