In [7]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import gmaps.datasets 
# Import the API key.
g_key = "AIzaSyDPIik65Kwd2ZhS8rNIKeTb_1VejZGKEJo"
import matplotlib.pyplot as plt

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Chulumani,BO,2021-09-26 15:26:23,-16.4096,-67.5263,82.00,40,16,4.79
1,1,Chokurdakh,RU,2021-09-26 15:26:23,70.6333,147.9167,32.72,97,100,19.46
2,2,Dunedin,NZ,2021-09-26 15:26:24,-45.8742,170.5036,36.81,83,27,5.53
3,3,Lebu,CL,2021-09-26 15:26:24,-37.6167,-73.6500,52.09,58,10,15.28
4,4,Vaini,TO,2021-09-26 15:26:24,-21.2000,-175.2000,66.36,100,75,0.00

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer) 
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))