## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_map

# Configure gmaps
gmaps.configure(api_key=g_map)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City,City.1,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Puerto Ayora,EC,71.76,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,6,Changqing,CN,73.56,overcast clouds,36.5575,116.7272,Hanting Hotel Jinan Changqing West Jingshi Road
2,8,Camacha,PT,70.54,broken clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
3,9,Gua Musang,MY,73.36,overcast clouds,4.8823,101.9644,Mines Inn Hotel
4,15,Thompson,CA,55.56,broken clouds,55.7435,-97.8558,Burntwood Hotel
...,...,...,...,...,...,...,...,...
286,690,Flin Flon,CA,64.51,broken clouds,54.7682,-101.8650,Victoria Inn Flin Flon
287,691,La Baule-Escoublac,FR,61.02,light rain,47.2922,-2.3640,Hôtel Barrière Le Royal La Baule
288,693,Yelan,RU,51.01,overcast clouds,50.9490,43.7378,Gostinitsa Na Sovetskoy
289,694,Bindura,ZW,70.57,clear sky,-17.3019,31.3306,Mayfair Lodges and Restaurant
290,695,Kabo,CF,72.37,moderate rain,7.6994,18.6290,NaN

In [3]:
vacation_df["City"] = vacation_df["City.1"]

In [4]:
new_column_order = ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]
vacation_df = vacation_df[new_column_order]
vacation_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Puerto Ayora,EC,71.76,overcast clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
1,Changqing,CN,73.56,overcast clouds,36.5575,116.7272,Hanting Hotel Jinan Changqing West Jingshi Road
2,Camacha,PT,70.54,broken clouds,33.0833,-16.3333,Hotel Porto Santo & Spa
3,Gua Musang,MY,73.36,overcast clouds,4.8823,101.9644,Mines Inn Hotel
4,Thompson,CA,55.56,broken clouds,55.7435,-97.8558,Burntwood Hotel

In [5]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [6]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

In [7]:
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [8]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df.City=="Port Hardy"]
vacation_end_df = vacation_df.loc[vacation_df.City=="Port Hardy"]
vacation_stop1_df = vacation_df.loc[vacation_df.City=="Stettler"]
vacation_stop2_df = vacation_df.loc[vacation_df.City=="Polson"]
vacation_stop3_df = vacation_df.loc[vacation_df.City=="Hoquiam"]

In [13]:
vacation_start = vacation_df.loc[vacation_df.City=="Port Hardy"].to_numpy()
vacation_end = vacation_df.loc[vacation_df.City=="Port Hardy"].to_numpy()
vacation_stop1 = vacation_df.loc[vacation_df.City=="Stettler"].to_numpy()
vacation_stop2 = vacation_df.loc[vacation_df.City=="Polson"].to_numpy()
vacation_stop3 = vacation_df.loc[vacation_df.City=="Hoquiam"].to_numpy()

In [14]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np

start = vacation_start[0][4:6]
end = vacation_end[0][4:6]
stop1 = vacation_stop1[0][4:6]
stop2 = vacation_stop2[0][4:6]
stop3 = vacation_stop3[0][4:6]

In [15]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df, vacation_end_df], ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Port Hardy,CA,51.80,light rain,50.6996,-127.4199,Airport Inn
1,Stettler,CA,60.64,overcast clouds,52.3168,-112.7186,Ramada by Wyndham Stettler
2,Polson,US,68.59,broken clouds,47.6936,-114.1632,Americas Best Value Port Polson Inn
3,Hoquiam,US,66.92,broken clouds,46.9809,-123.8893,Econo Lodge Inn & Suites
4,Port Hardy,CA,51.80,light rain,50.6996,-127.4199,Airport Inn

In [17]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [18]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(50, -120), zoom_level=4.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=1000, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))