## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_map

# Configure gmaps
gmaps.configure(api_key=g_map)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df

,City,City.1,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Lewiston,US,58.80,overcast clouds,44.1003,-70.2148,Hilton Garden Inn Auburn Riverwatch
1,3,Inhambane,MZ,75.18,few clouds,-23.8650,35.3833,Oceano
2,4,Pangai,TO,77.11,broken clouds,-19.8000,-174.3500,Ha'apai Beach Resort
3,5,Avarua,CK,68.05,clear sky,-21.2078,-159.7750,Paradise Inn
4,6,Port Alfred,ZA,65.68,light rain,-33.5906,26.8910,The Halyards Hotel
...,...,...,...,...,...,...,...,...
368,693,Nemuro,JP,61.02,overcast clouds,43.3236,145.5750,Hotel Nemuro Kaiyoutei
369,694,Soyung,PH,75.00,overcast clouds,16.7001,121.6655,"JV's Inn, Resort, Bar & Grill"
370,697,Simeria,RO,58.23,overcast clouds,45.8500,23.0167,Pensiunea Dorr (+camping)
371,698,Yulara,AU,57.04,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
372,701,Piranshahr,IR,60.93,clear sky,36.7010,45.1413,مسافر خانه سعدی

In [3]:
vacation_df["City"] = vacation_df["City.1"]

In [4]:
vacation_df

,City,City.1,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lewiston,Lewiston,US,58.80,overcast clouds,44.1003,-70.2148,Hilton Garden Inn Auburn Riverwatch
1,Inhambane,Inhambane,MZ,75.18,few clouds,-23.8650,35.3833,Oceano
2,Pangai,Pangai,TO,77.11,broken clouds,-19.8000,-174.3500,Ha'apai Beach Resort
3,Avarua,Avarua,CK,68.05,clear sky,-21.2078,-159.7750,Paradise Inn
4,Port Alfred,Port Alfred,ZA,65.68,light rain,-33.5906,26.8910,The Halyards Hotel
...,...,...,...,...,...,...,...,...
368,Nemuro,Nemuro,JP,61.02,overcast clouds,43.3236,145.5750,Hotel Nemuro Kaiyoutei
369,Soyung,Soyung,PH,75.00,overcast clouds,16.7001,121.6655,"JV's Inn, Resort, Bar & Grill"
370,Simeria,Simeria,RO,58.23,overcast clouds,45.8500,23.0167,Pensiunea Dorr (+camping)
371,Yulara,Yulara,AU,57.04,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
372,Piranshahr,Piranshahr,IR,60.93,clear sky,36.7010,45.1413,مسافر خانه سعدی

In [5]:
new_column_order = ["City", "Country", "Max Temp", "Current Description", "Lat", "Lng", "Hotel Name"]
vacation_df = vacation_df[new_column_order]
vacation_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Lewiston,US,58.80,overcast clouds,44.1003,-70.2148,Hilton Garden Inn Auburn Riverwatch
1,Inhambane,MZ,75.18,few clouds,-23.8650,35.3833,Oceano
2,Pangai,TO,77.11,broken clouds,-19.8000,-174.3500,Ha'apai Beach Resort
3,Avarua,CK,68.05,clear sky,-21.2078,-159.7750,Paradise Inn
4,Port Alfred,ZA,65.68,light rain,-33.5906,26.8910,The Halyards Hotel

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [7]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

In [8]:
# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start_df = vacation_df.loc[vacation_df.City=="Port Hardy"]
vacation_end_df = vacation_df.loc[vacation_df.City=="Port Hardy"]
vacation_stop1_df = vacation_df.loc[vacation_df.City=="Quesnel"]
vacation_stop2_df = vacation_df.loc[vacation_df.City=="Cochrane"]
vacation_stop3_df = vacation_df.loc[vacation_df.City=="East Wenatchee Bench"]
vacation_start_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
308,Port Hardy,CA,51.98,light intensity shower rain,50.6996,-127.4199,Airport Inn

In [11]:
vacation_start = vacation_df.loc[vacation_df.City=="Port Hardy"].to_numpy()
vacation_end = vacation_df.loc[vacation_df.City=="Port Hardy"].to_numpy()
vacation_stop1 = vacation_df.loc[vacation_df.City=="Quesnel"].to_numpy()
vacation_stop2 = vacation_df.loc[vacation_df.City=="Cochrane"].to_numpy()
vacation_stop3 = vacation_df.loc[vacation_df.City=="East Wenatchee Bench"].to_numpy()
vacation_start

array([['Port Hardy', 'CA', 51.98, 'light intensity shower rain',
        50.6996, -127.4199, 'Airport Inn']], dtype=object)

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
import numpy as np

start = vacation_start[0][4:6]
end = vacation_end[0][4:6]
stop1 = vacation_stop1[0][4:6]
stop2 = vacation_stop2[0][4:6]
stop3 = vacation_stop3[0][4:6]
start

array([50.6996, -127.4199], dtype=object)

In [14]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

fig = gmaps.figure()
itinerary = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode='DRIVING')
fig.add_layer(itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.

itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df, vacation_end_df], ignore_index=True)
itinerary_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Port Hardy,CA,51.98,light intensity shower rain,50.6996,-127.4199,Airport Inn
1,Quesnel,CA,57.70,clear sky,52.9999,-122.5029,Ramada by Wyndham Quesnel
2,Cochrane,CA,66.42,overcast clouds,51.1834,-114.4687,Days Inn & Suites by Wyndham Cochrane
3,East Wenatchee Bench,US,62.38,clear sky,47.4257,-120.2812,Coast Wenatchee Center Hotel
4,Port Hardy,CA,51.98,light intensity shower rain,50.6996,-127.4199,Airport Inn

In [16]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [17]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(50, -120), zoom_level=4.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=1000, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))